html {
  font-size: 62.5%;
}

body {
  background-color: #28294c;
}

.container {
  padding-top: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-list {
  list-style: none;
  padding-top: 1.2rem;
  
  margin-bottom: 1.2rem;
}

#debugToggle {
  margin-top: 1.2rem;
}

.debug-text {
  font-size: 1.6rem;
  text-align: center;
  justify-content: left;
  color: aliceblue;
  font-weight: 700;
  
}

.info-panel {
  background-color: #e5e7f7;
  color: #16171e;
  margin-bottom: 0;
  margin-top: 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  
}

.info-title {
  font-size: 2.4rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

.info-Description {
} 

.info-Controls-Header {
  font-size: 1.6rem;
}

.info-bottom {
  font-size: 1rem;
  color: #28294c;
  margin-bottom: 0;
  padding-bottom: 0;
}